*.asv
/ArumeData
/Temp/
/arumeconf.mat
/Temp2/svvtest0531/dataAnalysis/SVV2AFCAdaptiveAfterEffect_NILED/*.mat
/Temp2/svvtest0531/dataAnalysis/SVV2AFCAdaptiveAfterEffect_NIRED/*.mat
/Temp2/svvtest0531/dataAnalysis/SVV2AFCAdaptiveLong_BXLED/*.mat
/Temp2/svvtest0531/dataAnalysis/SVV2AFCAdaptiveLong_BXRED/*.mat
/Temp2/svvtest0531/dataAnalysis/SVV2AFCAdaptiveLong_BXUP/*.mat
/Temp2/svvtest0531/dataAnalysis/SVV2AFCAdaptiveLong_BXtest/*.mat
/Temp2/svvtest0531/*.mat
/Temp2/HapticExp/dataAnalysis/SVH2AFCAdaptive_FIlhLED/trialDataSet.mat
/Temp2/HapticExp/dataAnalysis/SVH2AFCAdaptive_FIlhRED/trialDataSet.mat
/Temp2/HapticExp/dataAnalysis/SVH2AFCAdaptive_FIlhUP/trialDataSet.mat
/Temp2/HapticExp/dataAnalysis/SVH2AFCAdaptive_FIrhLED/trialDataSet.mat
/Temp2/HapticExp/dataAnalysis/SVH2AFCAdaptive_FIrhRED/trialDataSet.mat
/Temp2/HapticExp/dataAnalysis/SVH2AFCAdaptive_FIrhUP/trialDataSet.mat
/Temp2/HapticExp/project.mat
/Scripts/dsVariability.mat
/Scripts/dsVariability2.mat
/Scripts/samplesDataSet.mat
/Scripts/trialDataSet.mat
/arumeconf-WINDOWS-F34MBT5-2.mat
/arumeconf-WINDOWS-F34MBT5.mat
/arumeconf-big-island.mat
/Temp2/VM_TripleParadigm
/ArumeData.zip
